# {{ schema.name }}: a data model for synthetic population data.

See also:

https://github.com/RTIInternational/SyntheticPopulations
https://pmc.ncbi.nlm.nih.gov/articles/PMC2875687/
https://aqs.epa.gov/aqsweb/documents/data_api.html

## Classes ([Visualization](categories.html))

| Class | Description |
{% for c in schemaview.all_classes(ordered_by="lexical").values()|sort(attribute='name') -%}
{%- if 'association' not in schemaview.class_ancestors(c.name) and not schemaview.is_mixin(c.name) -%}
| --- | --- |
| {{gen.link(c)}} | {{c.description}} |
{%- endif -%}
{% endfor %}

## Class Properties

| Property | Description |
{% for np in schemaview.all_slots(ordered_by="lexical").values()|sort(attribute='name') -%}
{%- if 'node property' in schemaview.slot_ancestors(np.name) -%}
| --- | --- |
| {{gen.link(np)}} | {{np.description}} |
{%- endif -%}
{% endfor %}

## Predicates ([Visualization](predicates.html))

| Property | Description |
{% for p in schemaview.all_slots(ordered_by="lexical").values()|sort(attribute='name') -%}
{%- if 'related to' in schemaview.slot_ancestors(p.name) -%}
| --- | --- |
| {{gen.link(p)}} | {{p.description}} |
{%- endif -%}
{% endfor %}

## Qualifiers ([Visualization](qualifiers.html))

| Property | Description |
{% for p in schemaview.all_slots(ordered_by="lexical").values()|sort(attribute='name') -%}
{%- if 'qualifier' in schemaview.slot_ancestors(p.name) -%}
| --- | --- |
| {{gen.link(p)}} | {{p.description}} |
{%- endif -%}
{% endfor %}


## Associations

| Association | Description |
{% for a in schemaview.all_classes(ordered_by="lexical").values()|sort(attribute='name') -%}
{%- if 'association'  in schemaview.class_ancestors(a.name) and not schemaview.is_mixin(a.name) -%}
| --- | --- |
| {{gen.link(a)}} | {{a.description}} |
{%- endif -%}
{% endfor %}

## Association Properties

| Property | Description |
{% for ep in schemaview.all_slots(ordered_by="lexical").values()|sort(attribute='name') -%}
{%- if 'association slot' in schemaview.slot_ancestors(ep.name) -%}
| --- | --- |
| {{gen.link(ep)}} | {{ep.description}} |
{%- endif -%}
{% endfor %}

## Enumerations

| Enumeration | Description |
| --- | --- |
{% for e in schemaview.all_enums().values()|sort(attribute='name') -%}
| {{gen.link(e)}} | {{e.description}} |
{% endfor %}

## Subsets

| Subset | Description |
| --- | --- |
{% for ss in schemaview.all_subsets().values()|sort(attribute='name') -%}
| {{gen.link(ss)}} | {{ss.description}} |
{% endfor %}
